/* line 1, ../../scss/admin.scss */
.admin-form-widget {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 12, ../../scss/admin.scss */
.admin-form-widget .title {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
/* line 28, ../../scss/admin.scss */
.admin-form-widget + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

.error input,
.error textarea,
.admin-form-widget .error select {
  background-color: rgba(255, 0, 0, 0.3);
}
.error label {
  color: #ff0000;
}

/* Tweak examples
------------------------- */
/* line 37, ../../scss/admin.scss */
.admin-form-widget > p:last-child {
  margin-bottom: 0;
}

/* line 48, ../../scss/admin.scss */
.admin-form-widget .table,
.admin-form-widget .progress,
.admin-form-widget .well,
.admin-form-widget .alert,
.admin-form-widget .hero-unit,
.admin-form-widget .pagination,
.admin-form-widget .navbar,
.admin-form-widget > .nav,
.admin-form-widget blockquote {
  margin-bottom: 5px;
}

/* line 51, ../../scss/admin.scss */
.admin-form-widget .pagination {
  margin-top: 0;
}

/* line 55, ../../scss/admin.scss */
.nav-tabs.small-tabs > li > a {
  padding: 0px 6px;
  line-height: auto;
}


.select-color .select2-choice .color-preview, .select2-result-label .color-preview {
  display: inline-block;
  width: 18px;
  height: 17px;
  margin: 0 7px 0 0;
  border: 1px solid #000;
}
.select-color .select2-choice span, .select2-result-label span {
  vertical-align: middle;
}
.select-color .select2-choice .color-preview.brightgreen,
.select2-result-label .color-preview.brightgreen {
    background-color: #06e18d;
}
.select-color .select2-choice .color-preview.acidpink,
.select2-result-label .color-preview.acidpink {
    background-color: #ff3f82;
}
.select-color .select2-choice .color-preview.pink,
.select2-result-label .color-preview.pink {
    background-color: #ff3950;
}
.select-color .select2-choice .color-preview.darkorange,
.select2-result-label .color-preview.darkorange {
    background-color: #ffa92e;
}
.select-color .select2-choice .color-preview.gray,
.select2-result-label .color-preview.gray {
    background-color: #cccccc;
}
.select-color .select2-choice .color-preview.cyan,
.select2-result-label .color-preview.cyan {
    background-color: #00adef;
}
.select-color .select2-choice .color-preview.aqua,
.select2-result-label .color-preview.aqua {
    background-color: #2fe5f2;
}
.select-color .select2-choice .color-preview.black,
.select2-result-label .color-preview.black {
    background-color: black;
}
.select-color .select2-choice .color-preview.white,
.select2-result-label .color-preview.white {
    background-color: white;
}

.onoffswitch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #D9CECE; border-radius: 7px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 16px; padding: 0; line-height: 16px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: " ";
    padding-left: 6px;
    background-color: #3cc11d; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: " ";
    padding-right: 6px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 4px;
    background: #FFFFFF;
    border: 1px solid #D9CECE; border-radius: 7px;
    position: absolute; top: 0; bottom: 0; right: 20px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.dropzoned {
    border: 2px gray dashed;
    border-radius: 5px;
    width: 220px;
    min-height: 50px;
    margin: 10px 0;
}
.dropzoned .dz-message {
    text-align: center;
    margin: 0;
}
.sortable-placeholder {
    display: inline-block;
    width: 150px;
    height: 150px;
}
.gallery-block {
    margin-bottom: 10px;
}
.gallery-block .gallery-images {
    max-height: 310px;
    overflow-y: auto;
}
.gallery-block .gallery-images a {
    display: inline-block;
    margin: 0px;
    padding: 2px;
}
.gallery-block .gallery-images a img {
    border-radius: 25px;
    margin: 2px 0;
}
