{% from 'admin_macro.html' import admin_widget_field %}
<script>
    $(document).ready(function() {
        $(".tab-pane").each(function(index, item) {
            var errors = $(".errorlist", item).length;
            if (errors > 0) {
                $(".nav-tabs a[href=#"+$(item).attr("id")+"]").append(" <span class='badge badge-important'>"+errors+"</span>")
            }
        });
        {% if formsets %}
            {% for name, formset in formsets.items() %}
                {% if instance %}$("div#Id_{{ name }}").dropzone({url: "/upload/{{ name }}/{{ instance.id }}/", "previewTemplate": ""});{% endif %}
            {% endfor %}
        {% endif %}
    })
</script>
{{ media|safe }}
<form method="POST" class="mainform {{ model._meta.object_name|lower }}-form" enctype="multipart/form-data" {% if request.GET.inline %}action="?inline=1&opener={{ request.GET.opener }}"{% endif %}>
    {% if request.GET.back %}<input type="hidden" name="back" value="{{ request.GET.back }}">{% endif %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {% for hidden in form.hidden_fields() %}
        {{ hidden|safe }}
    {% endfor %}
    {% if translate %}
        {% for f in translation_forms.values() %}
            {% for hidden in f.hidden_fields() %}
                {{ hidden|safe }}
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if form_widgets %}
        <div class="clearfix">
        {% set width = 0 %}
        {% for widget in form_widgets %}
            {% set width = width + widget.size %}
            {% if width > 12 or widget.size == 12 %}
                {% set width = 0 %}
                </div><div class="clearfix">
            {% endif %}
            <div class="span{{ widget.size }} admin-form-widget">
                {% if widget.title %}<span class="title">{{ widget.title }}</span>{% endif %}
                {% for field in widget.iter_fields(form) %}
                    {{ admin_widget_field(field) }}
                {% endfor %}
                {% if translate %}
                    {% for fields in widget.iter_translation(translation_forms) %}
                        <ul class="nav nav-tabs small-tabs">
                        {%  for lang, field in fields %}
                            <li class="language-{{ lang }}{% if loop.first %} active{% endif %}">
                                <a href="#lang-{{ lang }}-{{ field.name }}" data-toggle="tab" class="label label-inverse">{{ lang }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for lang, field in fields %}
                                <div class="tab-pane{% if loop.first %} active{% endif %}" id="lang-{{ lang }}-{{ field.name }}" >
                                    {{ admin_widget_field(field) }}
{#                                    <span class="add-on" style="font-size: smaller;">{{ field.label }}</span>{{ field|safe }}#}
{#                                    {{ field.errors|safe }}#}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
{#                    {% for field in widget.iter_translation(translation_forms) %}#}
{#                        <div class="input-prepend input-append">#}
{#                            <span class="add-on" style="font-size: smaller;">{{ field.label }}</span>{{ field|safe }}#}
{#                            {{ field.errors|safe }}#}
{#                        </div>#}
{#                    {% endfor %}#}
                {% endif %}
                {% if formsets %}
                    {% for name, formset in widget.iter_formsets(formsets) %}
                        <hr/>
                        <h3>{{ formset.model._meta.verbose_name_plural }}</h3>
                        {{ formset.management_form|safe }}
                        <table class="table" id="id_{{ name }}">
                            <thead>
                            {% for field in formset.empty_form.visible_fields() %}
                                <th>{{ field.label }}</th>
                            {% endfor %}
                            </thead>
                            {% for set_form in formset.forms %}
                                <tr>
                                    {% for field in set_form.visible_fields() %}
                                        <td {% if field.field.required %}class="required"{% endif %}>
                                            {{ field.errors|safe }}
                                            {% if loop.first %}
                                                {% for sfield in set_form.hidden_fields() %}
                                                    {{ sfield|safe }}
                                                {% endfor %}
                                            {% endif %}
                                            {{ field|safe }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                        <a href="#" class="btn" onclick="createNewFormsetRow('id_{{ name }}');return false;"><span class="icon icon-plus"></span>Добавить</a>
                        <table id="id_{{ name }}_empty" class="hidden">
                            <tr>
                                {% for field in formset.empty_form.visible_fields() %}
                                    <td {% if field.field.required %}class="required"{% endif %}>
                                        {{ field.errors|safe }}
                                        {% if loop.first %}
                                            {% for field in formset.empty_form.hidden_fields() %}
                                                {{ field|safe }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field|safe }}
                                    </td>
                                {% endfor %}
                            <tr>
                        </table>
                    {% endfor %}
                {% endif %}
            </div>

            {% if widget.size == 12  %}
                {% set width = 0 %}
                </div><div class="clearfix">
            {% endif %}
        {% endfor %}
        </div>
    {% else %}
        <table width="100%">
            {% for field in form.visible_fields() %}
                <tr>
                    <td style="min-width: 120px;">{{ field.label_tag()|safe }}</td>
                    <td class="{% if field.field.required %}required{% endif %}{% if field.errors %} error{% endif %}">
                        {% if not field.name == "password"  %}{{ field|safe }}{% else %}<div style="display: none;">{{ field|safe }}</div>{% endif %}
                        {% if field.name == "password" and form.instance.pk %}<a href="{{ url('password_change', form.instance.pk) }}" >Изменить</a>{% endif %}
                    </td>
                    <td>{{ field.errors|safe }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if translate %}
            <ul class="nav nav-tabs">
                {% for lang in get_languages() %}
                    <li class="language-{{ lang.code }}{% if loop.first %} active{% endif %}">
                        <a href="#lang-{{ lang.code }}" data-toggle="tab">{{ lang.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for lang in get_languages() %}{% with translation_form = translation_forms[lang.code] %}
                    <div class="tab-pane{% if loop.first %} active{% endif %}" id="lang-{{ lang.code }}" >
                        {% for hidden in translation_form.hidden_fields() %}
                            {{ hidden|safe }}
                        {% endfor %}
                        <table width="100%">
                            {% for field in translation_form.visible_fields() %}
                                <tr>
                                    <td style="min-width: 120px;">{{ field.label_tag()|safe }}</td>
                                    <td class="{% if field.field.required %}required{% endif %}{% if field.errors %} error{% endif %}">{{ field|safe }}</td>
                                    <td>{{ field.errors|safe }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endwith %}{% endfor %}
            </div>
        {% endif %}
    {% if formsets %}
        {% for name, formset in formsets.items() %}
            <h3>{{ formset.model._meta.verbose_name_plural }}</h3>
            {{ formset.management_form|safe }}
            <table class="table" id="id_{{ name }}">
                <thead>
                {% for field in formset.empty_form.visible_fields() %}
                    <th>{{ field.label }}</th>
                {% endfor %}
                </thead>
                {% for set_form in formset.forms %}
                    <tr>
                        {% for field in set_form.visible_fields() %}
                            <td class="{% if field.field.required %}required{% endif %}{% if field.errors %} error{% endif %}">
                                {{ field.errors|safe }}
                                {% if loop.first %}
                                    {% for sfield in set_form.hidden_fields() %}
                                        {{ sfield|safe }}
                                    {% endfor %}
                                {% endif %}
                                {{ field|safe }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <a href="#" class="btn" onclick="createNewFormsetRow('id_{{ name }}');return false;"><span class="icon icon-plus"></span>Добавить</a>
            <table id="id_{{ name }}_empty" class="hidden">
                <tr>
                {% for field in formset.empty_form.visible_fields() %}
                    <td {% if field.field.required %}class="required"{% endif %}>
                        {{ field.errors|safe }}
                        {% if loop.first %}
                            {% for sfield in formset.empty_form.hidden_fields() %}
                                {{ sfield|safe }}
                            {% endfor %}
                        {% endif %}
                        {{ field|safe }}
                        </td>
                    {% endfor %}
                    <tr>
                </table>
            {% endfor %}
        {% endif %}
    {% endif %}

    <br />
    <br />
    <br />
    <input type="submit" value="{{ trans("Сохранить") }}" class="btn btn-success"/>
    <input type="submit" name="continue" value="{{ trans("Сохранить и продолжить редактирование") }}" class="btn btn-success"/>
{#    <input type="button" onclick="$(this.form).addClass('continue');$(this.form).submit();" value="{{ trans("Сохранить и продолжить редактирование") }}" class="btn btn-success"/>#}
    {% if request.GET.inline %}
        <a href="#" class="btn btn-danger close-inline" onclick="inlineEditor.close(inlineEditorID);return false;">{{ trans("Отмена") }}</a>
    {% else %}
        <a href="{% if request.GET.back %}{{ request.GET.back }}{% else %}{{ url("admin:route-action", type, "view") }}{% endif %}" class="btn btn-danger">{{ trans("Отмена") }}</a>
    {% endif %}
</form>
