  <div class="span11">
    <h2>{{ model._meta.verbose_name_plural }}</h2>
  </div>
  <div style="text-align: right;">
    <a href="{{ url("admin:route-action", type, "add") }}" class="btn"><i class="icon-plus"></i><small>{{ trans("Добавить") }}</a></small>
  </div>
  <form method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {% if formsets %}
    {{ formsets.management_form|safe }}
    <table class="table">
      <thead>
        {% for field in formsets.empty_form.visible_fields() %}
        <th>{{ field.label }}</th>
        {% endfor %}
      </thead>
      {% for set_form in formsets.forms %}
      <tr>
        {% for field in set_form.visible_fields() %}
        <td>
          {{ field.errors|safe }}
          {% if loop.first %}
          {% for field in set_form.hidden_fields() %}
          {{ field|safe }}
          {% endfor %}
          {% endif %}
          {{ field|safe }}
        </td>
        {% endfor %}
        <td width="100">
          <a href="{{ url("admin:route-action-object", type, "delete", set_form.hidden_fields()[0].value()) }}" onclick="return window.confirm('Вы уверены что хотите удалить этот объект?');">
            <i class="icon-trash"></i> {{ trans("Удалить") }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <input type="submit" value="{{ trans("Сохранить") }}" class="btn btn-success"/>
    <!-- <a href="{{ url("admin:route-action", type, "view") }}" class="btn btn-danger">Отмена</a> -->
  </form>
