<div class="span10">
    <h2>{{ model._meta.verbose_name_plural }}</h2>
</div>
<div class="span2" style="text-align: right;">
    <a href="{{ url("admin:route-action", type, "add") }}" class="btn"><i class="icon-plus"></i><small>{{ trans("Добавить") }}</a></small>
</div>

{% if search_fields %}
<div class="span11">
    <form class="form-inline">
        {% for field in search_form %}
            <div class="input-prepend">
                <span class="add-on">{{ field.label }}</span>{{ field|safe }}<!--input type="text" name="{{ search }}" value="{{ request.GET.get(search, "") }}"/-->
            </div>
        {% endfor %}
        <input type="submit" value="Поиск" class="btn">
    </form>
</div>
{% endif %}

<table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        {% if not list_fields %}
            <th>{{ trans("Заголовок") }}</th>
        {% else %}
            {% for field, islink in list_fields %}
                <th>{{ field.verbose_name }}</th>
            {% endfor %}
        {% endif %}
        {% if published_field %}<th width="48">{{ trans("Вкл") }}</th>{% endif %}
        {% if model.translations %}<th width="80">{{ trans("Переводы") }}</th>{% endif %}
        <th width="20"></th>
        <th width="20"></th>
        {% if sortable %}<th width="20"></th>{% endif %}
    </tr>
    </thead>
    <tbody {% if sortable %}class="sortable-table" data-sort-url="{{ url("admin:route-action", type, "sort") }}"{% endif %}>
    {% for object in objects %}
        <tr data-id="{{ object.id }}">
            {% if type == 'language' %}
                <td>
                    <a href="{{ url("admin:route-action", 'translation', "view") }}?lang={{ object.code }}">
                        {{ object.title }}
                    </a>
                </td>
            {% else %}

                {% if not list_fields %}
                    <td><a href="{{ url("admin:route-action-object", type, "edit", object.pk) }}{% if request.META.QUERY_STRING %}?back={{ request.META.PATH_INFO }}?{{ request.META.QUERY_STRING|quote }}{% endif %}">{{ object.title }}</a></td>
                {% else %}
                    {% for field, islink in list_fields %}
                        <td>{% if islink %}<a href="{{ url("admin:route-action-object", type, "edit", object.pk) }}{% if request.META.QUERY_STRING %}?back={{ request.META.PATH_INFO }}?{{ request.META.QUERY_STRING|quote }}{% endif %}">{% endif %}
                        {% if not islink %}<small>{% if field.is_safe %}{{ object|get_field_val(field)|safe }}{% else %}{{ object|get_field_val(field) }}{% endif %}</small>{% endif %}
                        {% if islink %}{{ object|get_field_val(field)|safe }}{% endif %}
                        {% if islink %}</a>{% endif %}
                        </td>
                    {% endfor %}
                {% endif %}

            {% endif %}
            {% if published_field %}<td align="center" valign="center">
                <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" id="publish-switch-{{ object.pk }}" data-url="{{ url("admin:route-action-object", type, "publish", object.pk) }}" {% if get_attribute(object, published_field, False) %}checked{% endif %}>
                    <label class="onoffswitch-label" for="publish-switch-{{ object.pk }}">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </td>{% endif %}
            {% if object.translations %}
                <td>
                    {% for translation in object.translations.all().order_by("language") %}
{#                        <a href="{{ object.get_absolute_url() }}" target="_blank">#}
                            {{ translation.language.code|upper }}{# </a> #}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            {% endif %}
            <td>
                <a href="{{ url("admin:route-action-object", type, "edit", object.pk) }}{% if request.META.QUERY_STRING %}?back={{ request.META.PATH_INFO }}?{{ request.META.QUERY_STRING|quote }}{% endif %}">
                    <i class="icon-edit"></i>
                </a>
            </td>
            <td>
                <a href="{{ url("admin:route-action-object", type, "delete", object.pk) }}" onclick="return window.confirm('Вы уверены что хотите удалить этот объект?');">
                    <i class="icon-trash"></i>
                </a>
            </td>
            {% if sortable %}<td align="center" valign="center"><a href="#"><span class="icon icon-move"></span></a></td>{% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if pages_count > 1 %}
<div class="pagination">
    <ul>
    {% if 1 not in pages_iterator %}<li><a href="?{{ build_pagination_querystring(request, 1) }}"><<< {{ trans("Первая") }}</a></li>{% endif %}
    {% if not current_page == 1 %}<li><a href="?{{ build_pagination_querystring(request, current_page - 1) }}">< {{ trans("Назад") }}</a></li>{% endif %}

    {% for page_index in pages_iterator %}
        <li{% if page_index == current_page %} class="active"{% endif %}><a href="?{{ build_pagination_querystring(request, page_index) }}">{{ page_index }}</a></li>
    {% endfor %}
    {% if not current_page == pages_count %}<li><a href="?{{ build_pagination_querystring(request, current_page + 1) }}">{{ trans("Вперед") }} ></a></li>{% endif %}
    {% if pages_count not in pages_iterator %}<li><a href="?{{ build_pagination_querystring(request, pages_count) }}">{{ trans("Последняя") }} >>></a></li>{% endif %}
    </ul>
</div>
{% endif %}
