    <div class="author">
        <div class="author-img">
            {% if author.base.avatar %}
                <img src="{{ thumbnail(author.base.avatar, "200x200", crop="center").url }}" alt="{{ author.get_name() }}" title="{{ author.get_name() }}" />
            {% endif %}
        </div>
        <div class="author-name">{{ author.get_name() }}</div>
        <div class="author-position">{{ author.position }}</div>
    </div>
