<div id="blog-calendar" class="datepicker datepicker-inline ajax-datepicker" style="display: block;">
    <div class="datepicker-days" style="display: block;">
        <table class=" table-condensed">
            <thead>
            <tr>
                <th class="change-date prev-date" data-year="{{ previous.year }}" data-month="{{ previous.month }}"></th>
                <th colspan="5">{{ localize_month(current) }} {{ current.year }}</th>
                <th class="change-date next-date" data-year="{{ next.year }}" data-month="{{ next.month }}"></th>
            </tr>
            <tr>
                <th class="dow">пн.</th>
                <th class="dow">вт.</th>
                <th class="dow">ср.</th>
                <th class="dow">чт.</th>
                <th class="dow">пт.</th>
                <th class="dow">сб.</th>
                <th class="dow">вс.</th>
            </tr>
            </thead>
            <tbody>
            {% for days in current_month %}
                <tr>
                    {% for day in days %}
                        <td class="day{% if not day.1 %} disabled{% endif %}" data-date="{{ current.year }}-{{ current.month }}-{{ day.0 }}">
                            {% if day.0 %}
                                {% if day.1 %}
                                    <a href="{{ url("blog:list", current_lang()) }}?date={{ day.0 }}-{{ current.month|zfill(2) }}-{{ current.year }}">{{ day.0 }}</a>
                                {% else %}
                                    {{ day.0 }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
