<div class="carousel-blog  slick-carousel">
    {% for entry in entries %}
        <div class="carousel-blog-item">
            <a class="item-preview" href="{{ entry.get_absolute_url() }}">
            {% if entry.base.cover %}
                <img src="{{ thumbnail(entry.base.cover, "290x290", crop="center").url }}" title="{{ entry.title }}" alt="{{ entry.title }}"/>
            {% else %}
                <img src="{{ STATIC_URL }}images/blog/cover.png" width="290" height="290" alt="{{ entry.title }}" title="{{ entry.title }}" />
            {% endif %}
            </a>
            <div class="item-date">{{ entry.base.published_date.day }} {{ localize_month(entry.base.published_date, True) }} {{ entry.base.published_date.year }}</div>
            <a class="item-title" href="{{ entry.get_absolute_url() }}">{{ entry.title|linebreaksbr|safe }}</a>
            <a class="item-description slim-text-block" href="{{ entry.get_absolute_url() }}">{{ entry.announce }}</a>
        </div>
    {% endfor %}
</div>
