footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 128px;
    background-color: #000;
    font-family: $baseFontBold;
    font-size: 24px;
    text-align: center;

    .contacts {
        margin-top: 26px;
        color: #c7c8c4;
    }

    a {
        color: #c7c8c4;
        text-decoration: none;
        &:hover, &:focus, &:active {
            color: #fff;
        }
    }

    .social-networks {
        margin-top: 14px;
        font-size: 0;
    }
    .social-networks li {
        display: inline-block;
        position: relative;
        margin-right: 3px;
        width: 32px;
        height: 32px;

        a {
            display: block;
            padding: 3px 0 0;
            width: 32px;
            height: 29px;
            border-radius: 50%;
            background-color: #c7c8c4;
            text-align: center;
            opacity: 0.5;
            transition: opacity ease 0.5s;

            .icon {
                fill: #000;
            }
            &:hover, &:focus, &:active {
              background-color: #000;
              color: #c7c8c4;
              .icon {
                  fill: #c7c8c4;
              }
            }
        }
    }
}
