header {
    position: relative;
    width: 100%;
    height: 110px;
    color: #fff;
    z-index: 5;
    background-color: $color-pink;
    transition: background-color 1s ease;
    
    .yarky-logo {
        background-image: url('../images/yarky-logo-pink.png');
    }

    @mixin clearfix;

    a {
        text-decoration: none;
        color: #fff;
    }

    .yarky-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 267px;
        height: 180px;
        background-repeat: no-repeat;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .header-info {
        margin-top: 27px;
    }

    .subscribe {
        margin-right: 94px;
        font-size: 0;
    }
    .subscribe-label {
        display: block;
        margin-bottom: 8px;
        font-family: $baseFontBold;
        font-size: 21px;
        transition: all 0.5s ease;
    }
    .subscribe-email {
        margin-right: 5px;
        padding-left: 7px;
        height: 32px;
        width: 171px;
        vertical-align: bottom;
        color: #000;
        box-shadow: inset 0 0 5px #ddd;
    }
    .subscribe-button {
        border: none;
        padding-top: 5px;
        width: 62px;
        height: 32px;
        background-color: #000;
        font-family: $baseFontBold;
        font-size: 21px;

        &:hover, &:focus, &:active {
            background-color: #fff;
            color: #000;
        }
    }

    .contacts {
        margin-right: 98px;
    }
    .phone {
        font-family: $baseFontBold;
        font-size: 21px;
    }

    .social-networks {
        margin-top: 13px;
        font-size: 0;
    }
    .social-networks li {
        display: inline-block;
        position: relative;
        margin-right: 3px;
        width: 32px;
        height: 32px;

        a {
            display: block;
            padding: 3px 0 0;
            width: 32px;
            height: 29px;
            border-radius: 50%;
            background-color: #000;
            color: #fff;
            text-align: center;
            transition: all ease 0.5s;
            .icon {
                fill: #fff;
            }
            &:hover, &:focus, &:active {
              background-color: #fff;
              color: #000;
              .icon {
                  fill: #000;
              }
            }
        }
    }

    .lang-switch {
        margin-top: -4px;
        margin-right: 35px;
    }
    .lang {
        display: block;
        position: relative;
        margin-bottom: 8px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #000;
        color: #fff;
        font-size: 11px;
        line-height: 32px;
        text-align: center;
        transition: all ease 0.5s;
        a {
            display: block;
            color: #fff;
            cursor: pointer;
        }
        &.active, &:hover, &:focus, &:active {
            background: #fff;
            color: #000;
            a {
                color: #000;
            }
        }
    }

    body.index & {
        position: absolute;
        background: none !important;
    }

    &.bgrcolor-brightgreen {
        background-color: $color-brightgreen;
        .yarky-logo {
            background-image: url('../images/yarky-logo-brightgreen.png');
        }
    }
    &.bgrcolor-acidpink {
        background-color: $color-acidpink;
        .yarky-logo {
            background-image: url('../images/yarky-logo-acidpink.png');
        }
    }
    &.bgrcolor-pink {
        background-color: $color-pink;
        .yarky-logo {
            background-image: url('../images/yarky-logo-pink.png');
        }
    }
    &.bgrcolor-darkorange {
        background-color: $color-darkorange;
        .yarky-logo {
            background-image: url('../images/yarky-logo-darkorange.png');
        }
    }
    &.bgrcolor-gray {
        background-color: $color-gray2;
        .yarky-logo {
            background-image: url('../images/yarky-logo-gray2.png');
        }
    }
    &.bgrcolor-cyan {
        background-color: $color-cyan;
    }
    &.bgrcolor-aqua {
        background-color: $color-aqua;
        .yarky-logo {
            background-image: url('../images/yarky-logo-aqua.png');
        }
    }
    &.bgrcolor-black {
        background-color: black;
        .yarky-logo {
            background-image: url('../images/yarky-logo-black.png');
        }
    }
    &.bgrcolor-white {
        background-color: white;
        .yarky-logo {
            background-image: url('../images/yarky-logo-white.png');
        }
    }


    &.subtitle_color-brightgreen {
        .subscribe-label {
            color: $color-brightgreen;
        }
        .contacts {
            .phone {
                color: $color-brightgreen;
            }
        }
    }
    &.subtitle_color-acidpink {
        .subscribe-label {
            color: $color-acidpink;
        }
        .contacts {
            .phone {
                color: $color-acidpink;
            }
        }
    }
    &.subtitle_color-pink {
        .subscribe-label {
            color: $color-pink;
        }
        .contacts {
            .phone {
                color: $color-pink;
            }
        }
    }
    &.subtitle_color-darkorange {
        .subscribe-label {
            color: $color-darkorange;
        }
        .contacts {
            .phone {
                color: $color-darkorange;
            }
        }
    }
    &.subtitle_color-gray {
        .subscribe-label {
            color: $color-gray2;
        }
        .contacts {
            .phone {
                color: $color-gray2;
            }
        }
    }
    &.subtitle_color-cyan {
        .subscribe-label {
            color: $color-cyan;
        }
        .contacts {
            .phone {
                color: $color-cyan;
            }
        }
    }
    &.subtitle_color-aqua {
        .subscribe-label {
            color: $color-aqua;
        }
        .contacts {
            .phone {
                color: $color-aqua;
            }
        }
    }
    &.subtitle_color-black {
        .subscribe-label {
            color: black;
        }
        .contacts {
            .phone {
                color: black;
            }
        }
    }
    &.subtitle_color-white {
        .subscribe-label {
            color: white;
        }
        .contacts {
            .phone {
                color: white;
            }
        }
    }
}
