#main-carousel {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $slider_height;
    transition: background-color 1s ease;

    .carousel-item {
        height: $slider_height;
        .container {
            width: auto;
        }

    }
    &.bgrcolor-brightgreen {
        background-color: $color-brightgreen;
    }
    &.bgrcolor-acidpink {
        background-color: $color-acidpink;
    }
    &.bgrcolor-pink {
        background-color: $color-pink;
    }
    &.bgrcolor-darkorange {
        background-color: $color-darkorange;
    }
    &.bgrcolor-gray {
        background-color: $color-gray2;
    }
    &.bgrcolor-cyan {
        background-color: $color-cyan;
    }
    &.bgrcolor-aqua {
        background-color: $color-aqua;
    }
    &.bgrcolor-black {
        background-color: black;
    }
    &.bgrcolor-white {
        background-color: white;
    }

    .item-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: $slider_height;
        background-repeat: no-repeat;
        background-position: 50% 100%;
        z-index: 0;

        &.is-big {
            width: 100%;
        }
    }
    .item-description {
        position: relative;
        width: 1260px;
        margin: 0 auto;
        z-index: 1;

        a {
            color: inherit;
        }
    }
    .index-title {
        margin-left: 0;
        padding: 224px 0 15px 0;
        line-height: 50px;
        margin-left: 65%;
        margin-right: 2%;

        &.brightgreen {
            color: $color-brightgreen;
        }
        &.acidpink {
            color: $color-acidpink;
        }
        &.pink {
            color: $color-pink;
        }
        &.darkorange {
            color: $color-darkorange;
        }
        &.gray {
            color: $color-gray2;
        }
        &.cyan {
            color: $color-cyan;
        }
        &.aqua {
            color: $color-aqua;
        }
        &.black {
            color: black;
        }
        &.white {
            color: white;
        }

    }
    .item-text {
        color: #fff;
        font-family: $baseFont;
        font-size: 19px;
        line-height: 25px;
        margin-left: 65%;
        margin-right: 2%;

        &.brightgreen {
            color: $color-brightgreen;
        }
        &.acidpink {
            color: $color-acidpink;
        }
        &.pink {
            color: $color-pink;
        }
        &.darkorange {
            color: $color-darkorange;
        }
        &.gray {
            color: $color-gray2;
        }
        &.cyan {
            color: $color-cyan;
        }
        &.aqua {
            color: $color-aqua;
        }
        &.black {
            color: black;
        }
        &.white {
            color: white;
        }
    }
}