@import '../global-vars/index.css';

.introduction-screen-1 {
    height: $slider_height;
}

.reservation-wrapper {
    position: relative;
    padding: 196px 0 0 50px;
    width: 1240px;
    pointer-events:none;
}
.form-personal-data {
    .form-row {
        margin-bottom: 15px;
    }
}
.reservation {
    display: inline-block;
    position: relative;
    background-color: rgba(255,255,255,0.8);
    font-size: 14px;
    font-family: $baseFont;
    color: #181818;

    pointer-events: auto;
    form {
        padding: 40px;
        width: 160px;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
    }
    input, select {
        padding-left: 6px;
        height: 32px;
        font-size: 14px;
        border: 0;
        background-color: #ffffff;
        color: #999999;
        option {
          padding: 4px 4px 3px;
        }
    }
    input {
        &.bordered {
          border: 1px solid #7e7e7e;
        }
    }
    .row-button {
        margin-top: 27px;
    }

    .reservation-button {
        font-size: 21px;
    }

    .breakfast-description {
        font-size: 13px;
        padding-top: 20px;
    }
}


.introduction-screen-2 {
    height: 782px;
    padding-top: 110px;
    background-color: $color-orange;
    .container {
        height: 100%;
    }
}


.introduction-screen-3 {
    padding-top: 110px;
}

.reservation-step {
    position: relative;
    height: 100%;

    .title {
        display: block;
        position: relative;
        padding-top: 52px;
        font-family: $baseFontBold;
        font-size: 36px;
        line-height: 32px;
    }

    .reservation {
        padding: 0 25px 0 50px;
        margin-left: -25px;
        float: left;
        width: 245px;
        height: 100%;
        background-color: $color-orange;
    }
    .form-reservation {
        padding: 48px 0 28px;
        width: 100%;
    }
}

.reservation-step-right-side {
    padding-right: 36px;
    padding-left: 36px;
    width: 893px;
    height: 100%;
    background-color: $color-darkyellow;
    float: left;

    .reservation-single-number {
        padding-top: 60px;
        font-size: small;
        clear: both;
    }
}
.room-list {
    position: relative;
    margin-left: -36px;
}
.room-item {
    position: relative;
    width: 25%;
    vertical-align: top;
    float: left;
}
.room {
    position: relative;
    margin-left: 36px;
}
.room-img {
    position: relative;
    margin: 46px 0 18px;
}
.room-title {
    font-family: $baseFontBold;
    font-size: 17px;
    line-height: 19px;
    text-transform: uppercase;
}
.room-description {
    margin-top: 14px;
    font-family: $baseFont;
    font-size: 13px;
    line-height: 16px;
}
.room-price {
    margin-top: 12px;
    font-family: $baseFont;
    font-size: 18px;

    strong {
        font-family: $baseFontBold;
    }
}
.room-list-help-text {
    margin-top: 80px;
}

.reservation-step-2 {
    position: relative;
    height: 100%;
}
.personal-data {
    position: relative;
    padding-right: 36px;
    width: 280px;
    height: 100%;
    background-color: $color-darkyellow;
}
.form-personal-data {
    margin-top: 22px;

    input {
        width: 100%;
        height: 32px;
        padding-left: 12px;
    }
    .comment {
        margin-top: 30px;
    }
    textarea {
        height: 226px;
        padding: 7px 8px 6px;
        resize: none;
    }
    .button-send {
        margin-top: 35px;
    }
}
.selected-room {
    position: relative;
    margin-right: -36px;
    margin-left: 316px;
    padding-left: 36px;
    height: 100%;
    background-color: $color-orange;

    .room-item {
        position: relative;
        width: 205px;
        height: 100%;

        .room {
            margin-left: 0;
        }
    }

    .more-info {
        position: relative;
        width: 300px;
        font-family: $baseFont;
        font-size: 13px;
        line-height: 16px;

        .info {
            margin-top: 12px;
        }

    }
}

.bg-reservation-result {
    background-image: url('../images/reservation/bg-final-step.jpg');
    background-position: center;
    background-color: $color-darkorange;
    background-repeat: no-repeat;
}
.reservation-result {
    position: relative;
    margin: 0 auto;
    padding: 40px 105px;
    width: 485px;
    background-color: $color-lightorange;

    .title {
        font-family: 'HarmoniaSansProCyr-Bold';
        font-size: 34px;
        font-weight: bold;
        line-height: 32px;
        margin-left: 25px;
    }
    .col-left {
        width: 185px;
        margin-left: 25px;
    }
    .col-right {
        margin-left: 235px;
    }
    .result-info {
        position: relative;
        margin-top: 36px;
    }
    .result-info-row {
        position: relative;
        margin-bottom: 16px;
    }
    .subtitle {
        font-family: $baseFont;
        font-size: 19px;
        line-height: 22px;
    }
    .value {
        font-family: $baseFont;
        font-size: 13px;
        line-height: 16px;
    }
    .result-info-text {
        position: relative;
        width: 100%;
        margin-top: 6px;
        margin-left: 25px;
        font-family: $baseFont;
        font-size: 13px;
        font-weight: bold;
        line-height: 17px;
        color: #363636;
    }
    .result-info .button-success {
        padding-left: 45px;
        padding-right: 45px;
        margin-left: 25px;

        &:after {
            display: none;
        }
    }
}
.result-sum {
    margin-top: 25px;
    font-family: $baseFont;
    font-size: 29px;
    line-height: 32px;

    nobr {
        font-family: $baseFontBold;
        font-size: 25px;
    }
}

