<footer>
    <div class="container">
        <div class="contacts">
            <a href="tel:{{ setting("contact-phone") }}">{{ setting("contact-phone") }}</a>,

            <a href="mailto: welcome@yarkyhostel.com">welcome@yarkyhostel.com</a>

            {% include "include/social_links.html" %}
        </div>
    </div>
</footer>
