    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">

    <link rel="icon" href="{{ static("images/favicon-16x16.png") }}" sizes="16x16" type="image/png">
    <link rel="icon" href="{{ static("images/favicon-32x32.png") }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ static("images/favicon-96x96.png") }}" sizes="96x96" type="image/png">
    <link rel="icon" href="{{ static("images/favicon.ico") }}" sizes="16x16 32x32 48x48" type="image/vnd.microsoft.icon">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ static("styles/main.css") }}" />
    {% if windows_user(request) %}<link rel="stylesheet" href="{{ static("styles/overrides.css") }}" />{% endif %}

    <script type="text/javascript">var CURRENT_LANG = '{{ current_lang() }}';</script>
    <script src="{{ static("js/main.js") }}" type="text/javascript"></script>
    <script src="{{ static("javascript/lib/socialshare.min.js") }}" type="text/javascript"></script>

    <script type="text/javascript">
        (function() {
            var path = '//easy.myfonts.net/v2/js?sid=214511(font-family=Harmonia+Sans+Pro+Cyrillic+Light)&sid=214513(font-family=Harmonia+Sans+Pro+Cyrillic+Regular)&sid=214517(font-family=Harmonia+Sans+Pro+Cyrillic+Bold)&sid=214519(font-family=Harmonia+Sans+Pro+Cyrillic+Black)&key=oW2mQoRNIV',
                protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
                trial = document.createElement('script');
            trial.type = 'text/javascript';
            trial.async = true;
            trial.src = protocol + path;
            var head = document.getElementsByTagName("head")[0];
            head.appendChild(trial);
        })();
    </script>
