<div class="lang-switch pull-left">
{#    {% for lang in get_languages() %}#}
{#        <div class="lang{% if lang.code == current_lang() %} active{% endif %}">#}
{#            {% if lang.code == current_lang() %}#}
{#                {{ lang.title|lower }}#}
{#            {% else %}#}
{#                <a class="{{ lang.code }}" href="{{ translate_path(path, lang.code) }}">#}
{#                    {{ lang.title|lower }}#}
{#                </a>#}
{#            {% endif %}#}
{#        </div>#}
{#    {% endfor %}#}
</div>
