<h3 class="title">Уважаемый, {{ reservation.first_name }} {{ reservation.last_name }}, вы отправили заявку на бронирование</h3>
<div class="result-info col-left pull-left">
    <div class="result-info-row">
        <div class="subtitle">Дата заезда</div>
        <div class="value">{{ reservation.date_in|date("d.m.Y") }}</div>
    </div>
    <div class="result-info-row">
        <div class="subtitle">Дата выезда</div>
        <div class="value">{{ reservation.date_out|date("d.m.Y") }}</div>
    </div>
    <div class="result-info-row">
        <div class="subtitle">Количество гостей</div>
        <div class="value">{{ reservation.guests }}</div>
    </div>
    <div class="result-info-row">
        <div class="subtitle">Тип номера</div>
        <div class="value">{{ reservation.room_type.get_local_title }}</div>
    </div>
    <div class="result-info-row">
        <div class="subtitle">Email</div>
        <div class="value">{{ reservation.email }}</div>
    </div>
    <div class="result-info-row">
        <div class="subtitle">Телефон</div>
        <div class="value">{{ reservation.phone }}</div>
    </div>
</div>
<div class="result-info col-right">
    <div class="result-info-row">
        <div class="subtitle">Завтраки</div>
        <div class="value">{{ reservation.get_breakfast_display() }}</div>
    </div>
    <div class="result-info-row">
        <div class="subtitle">Особые пожелания</div>
        <div class="value">{{ reservation.comment }}</div>
    </div>
    <div class="result-info-row result-sum">
        <nobr><strong>Общая стоимость</strong></nobr>
        {{ reservation.total_cost() }} Р.
    </div>
</div>
<div class="clearfix"></div>
<div class="result-info-text">
    Заявка будет принята к рассмотрению.<br/>На вашу электронную почту будет выслано финальное подтверждение. Бронирование считается негарантированным до подтверждения заявки  администрацией отеля. Если в ближайшее время подтверждение не будет получено, свяжитесь с отелем напрямую по адресу <a href="mailto:welcome@yarkyhostel.com">welcome@yarkyhostel.com</a>
</div>
<div class="result-info">
    <a href="#" class="button-success close-reservation">Закрыть окно</a>
</div>
