<div class="room-list">
    {% for room in rooms %}
        <div class="room-item room-item-{{ room.base.id }}">
            <div class="room">
                <div class="room-img">
                    <img src="{{ thumbnail(room.base.image, "200x135", crop="center").url }}" alt=""  />
                </div>
                <div class="room-title">{{ room.title }}</div>
                <div class="room-description">
                    {{ room.description|safe }}
                </div>
                <div class="room-price">
                    {{ room.base.price }} P
                    <strong>за ночь</strong>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
