<select name="room_type" class="room_type wide">
    {% for room in rooms %}
        <option value="{{ room.base.id }}" data-guests-max="{{ room.base.places }}" data-price="{{ room.base.price }}">{{ room.short_title }}</option>
    {% endfor %}
</select>
