    <div class="carousel-item" data-bgrcolor="{{ slide.base.background }}" data-title_color="{{ slide.base.title_color }}" data-subtitle_color="{{ slide.base.subtitle_color }}">
        <div class="container">
            <div class="item-description">
                <h2 class="index-title {{ slide.base.title_color }}">{{ slide.title|linebreaksbr|safe }}</h2>
                <div class="item-text {{ slide.base.subtitle_color }}">{{ slide.subtitle|safe }}</div>
            </div>
            <div class="item-img" style="background-image: url({{ slide.base.image.url }})"></div>
        </div>
    </div>
