<ul class="social-networks">
    <li>
        <a class="fb" href="http://fb.com/yarky">
            <div class="icon icon--ei-sc-facebook icon--s"><svg class="icon__cnt"><use xlink:href="#ei-sc-facebook-icon" /></svg></div>
        </a>
    </li>
    <li>
        <a class="vk" href="http://vk.com/yarkyhostel">
            <div class="icon icon--ei-sc-vk icon--s"><svg class="icon__cnt"><use xlink:href="#ei-sc-vk-icon" /></svg></div>
        </a>
    </li>
    <li>
        <a class="ig" href="http://instagram.com/yarkyspace">
            <div class="icon icon--ei-sc-instagram icon--s"><svg class="icon__cnt"><use xlink:href="#ei-sc-instagram-icon" /></svg></div>
        </a>
    </li>
</ul>
