<ul class="social-networks">
    <li>
        <a class="s-facebook social-icon" target="_blank">
            <div class="icon icon--ei-sc-facebook icon--s"><svg class="icon__cnt"><use xlink:href="#ei-sc-facebook-icon" /></svg></div>
        </a>
    </li>
    <li>
        <a class="s-vk social-icon" target="_blank">
            <div class="icon icon--ei-sc-vk icon--s"><svg class="icon__cnt"><use xlink:href="#ei-sc-vk-icon" /></svg></div>
        </a>
    </li>
</ul>
