<div class="places pull-right hidden">
    <div class="places-close pull-right"></div>
    {% for group in territory|groupby('base.territory') %}
        {% if group.list|length %}
            <div class="places-content {{ group.grouper }} hidden scrollable">
                <ul class="places-list">
                {% for info in group.list %}
                    <li>
                        {% if info.base.collapsable %}
                            <h3><a href="#">{{ info.title }}</a></h3>
                        {% else %}
                            <strong>{{ info.title }}</strong>
                        {% endif %}
                        {{ info.text|safe }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
    <div class="clearfix"></div>
</div>
