{% macro simple_menu_item_old(key, text, path, current_path) -%}
  <li class="dropdown {% if current_path.startswith(path) %} active{% endif %}" id="menu-{{ key }}">
    <a href="{{ path }}" class="dropdown-toggle" data-target="#menu-{{ key }}" data-toggle="dropdown">
      {{ text }}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{{ path }}view/"><i class="icon-th-list"></i> {{ trans("Список") }}</a></li>
      <li class="divider"></li>
      <li><a href="{{ path }}add/"><i class="icon-plus"></i> {{ trans("Добавить") }}</a></li>
    </ul>
  </li>
{% endmacro %}
{% macro simple_menu_item(key, text, path, current_path, user) -%}{% if is_valid_type(key, user) %}
    <li {% if current_path.startswith(path) %} active{% endif %}" id="menu-{{ key }}">
        <a href="{{ path }}view/" class="dropdown-toggle" data-target="#menu-{{ key }}" >
            {{ text }}
        </a>
    </li>
{% endif %}{% endmacro %}


{% macro admin_widget_field(field) %}
    {% if field_type(field) == "CheckboxInput" %}
        <div>
            <label class="checkbox{% if field.field.required %} required{% endif %}{% if field.errors %} error{% endif %}">
                {{ field|safe }} <span style="font-size: smaller;">{{ field.label }}</span>
                {{ field.errors|safe }}
            </label>
        </div>
    {% elif field_type(field) == "Textarea"  %}
        <div class="{% if field.field.required %}required{% endif %}{% if field.errors %} error{% endif %}">
            <span style="font-size: smaller;">{{ field.label }}</span>
            {{ field|safe }}
            {{ field.errors|safe }}
        </div>
    {% else %}
        <div class="input-prepend input-append{% if field.field.required %} required{% endif %}{% if field.errors %} error{% endif %}">
            <span class="add-on" style="font-size: smaller;">{{ field.label }}</span>{{ field|safe }}
            {{ field.errors|safe }}
        </div>
    {% endif %}
{% endmacro %}
