<!DOCTYPE html>
<html>
<head>
    <script src="http://yandex.st/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                editor = window.top.inlineEditor.get(inlineEditorID)
                if (editor.target) {
                    editor.updateTarget("{{ object.id }}", "{{ object }}");
                    //console.log(editor.opener);
                }
                window.top.inlineEditor.close(inlineEditorID)
            }, 0)
        });
    </script>
</head>
</html>
