<tr>
  <td>
    <input type="hidden" name="{{ model_name }}-{{ count }}-target" value="{{ target_id }}" 
	   id="id_{{ model_name }}-{{ count }}-target">
    <input type="hidden" name="{{ model_name }}-{{ count }}-id" value="{{ model_id }}" 
	   id="id_{{ model_name }}-{{ count }}-id">

    <a href="{{ image_url }}" target="_blank">
      <img src="{{ size_url }}" alt="{{ visibl_url }}">
    </a>
    <p class="file-upload">
      Текущий: <a href="{{ image_url }}">{{ visibl_url }}</a>
      <input type="checkbox" name="{{ model_name }}-{{ count }}-image-clear"
	     id="{{ model_name }}-{{ count }}-image-clear_id">
      <label for="{{ model_name }}-{{ count }}-image-clear_id">{{ trans("Очистить") }}</label>
      <br>{{ trans("Изменить") }}: <input type="file" name="{{ model_name }}-{{ count }}-image" id="id_{{ model_name }}-{{ count }}-image">
    </p>

  </td>
  <td>
    <input id="id_{{ model_name }}-{{ count }}-caption" type="text" 
	   name="{{ model_name }}-{{ count }}-caption" maxlength="255">
  </td>
  <td>
    <input type="checkbox" name="{{ model_name }}-{{ count }}-DELETE" id="id_{{ model_name }}-{{ count }}-DELETE">
  </td>
</tr>

