{% extends "admin.html" %}

{% block content %}
    {% if form.non_field_errors or form.errors %}
        {% for error in form.non_field_errors() %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    <div id="content-main">
        <form action="{{ app_path }}" method="post" id="login-form">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="form-row">
                {% if not form.errors %}{{ form.username.errors }}{% endif %}
                <label for="id_username" class="required">Username:</label> {{ form.username|safe }}
            </div>
            <div class="form-row">
                {% if not form.errors %}{{ form.password.errors }}{% endif %}
                <label for="id_password" class="required">Password:</label> {{ form.password|safe }}
                <input type="hidden" name="this_is_the_login_form" value="1" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
            <div class="submit-row">
                <label>&nbsp;</label><input type="submit" value="Log in" />
            </div>
        </form>

        <script type="text/javascript">
            document.getElementById('id_username').focus()
        </script>
    </div>
{% endblock %}
