{% extends "admin.html" %}
{% block title %}Password change{% endblock %}

{% block content %}
    <div id="content-main">
        <form action="" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ request.COOKIES['csrftoken'] }}">
            <div>
                {% if form.errors %}
                    <p class="errornote">
                        Please correct the error below.
                    </p>
                {% endif %}

                <fieldset class="module aligned wide">
                    <div class="form-row">
                        {{ form.password1.errors|safe }}
                        <label for="id_password1" class="required">Новый пароль:</label>{{ form.password1|safe }}
                    </div>
                    <div class="form-row">
                        {{ form.password2.errors|safe }}
                        <label for="id_password2" class="required">Еще раз:</label>{{ form.password2|safe }}
                    </div>
                </fieldset>

                <div class="submit-row">
                    <input type="submit" value="Change my password" class="default" />
                </div>

                <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
            </div>
        </form></div>

{% endblock %}
