{% extends "admin.html" %}

{% block content %}
     <form method="POST">
         <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
         <h3>{{ formset.model._meta.verbose_name_plural }}</h3>
         {{ formset.management_form|safe }}
         <table class="table">
             <thead>
             {% for field in formset.empty_form.visible_fields() %}
                 <th>{{ field.label }}</th>
             {% endfor %}
             </thead>
             {% for set_form in formset.forms %}
                 <tr>
                     {% for field in set_form.visible_fields() %}
                         <td>
                             {{ field.errors|safe }}
                             {% if loop.first %}
                                 {% for field in set_form.hidden_fields() %}
                                     {{ field|safe }}
                                 {% endfor %}
                             {% endif %}
                             {{ field|safe }}
                         </td>
                     {% endfor %}
                 </tr>
             {% endfor %}
         </table>
        <input class="btn success" type="submit" value="Сохранить">
     </form>
{% endblock %}
