@import '../global-vars/index.css';

.button-success {
    display: inline-block;
    position: relative;
    padding: 10px 10px 6px;
    text-decoration: none;
    text-align: center;
    min-height: 24px;
    border: none;
    background-color: #ff3950;
    font-family: $baseFontBold;
    font-size: 19px;
    line-height: 22px;
    color: #fff;

    &:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: -8px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-left: 8px solid $color-pink;
        border-bottom: 20px solid transparent;
    }

    &:hover, &:focus, &:active {
        filter: brightness(90%); 
    }
    &:active {
        margin-top: 2px;
    }
}
