@import '../global-vars/index.css';
.datepicker {
  font-family: $baseFont;
  * {
  	border-radius: 0 !important;
  }
}
.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active {
    background-color: $color-grassgreen;
    color: white;
    line-height: 24px;
}
.datepicker.dropdown-menu {
  border-radius: 0;
}
.datepicker.dropdown-menu th, .datepicker.datepicker-inline th, .datepicker.dropdown-menu td, .datepicker.datepicker-inline td {
    color: $color-forestgreen;
}
.datepicker table tr td.old, .datepicker table tr td.new, .datepicker table tr td.day a {
    text-decoration: none;
    color: $color-forestgreen;
}
.datepicker table tr td.old, .datepicker table tr td.new, .datepicker table tr td.disabled.day {
    color: #000;
}

.datepicker-switch {
  text-decoration: underline;
}

.datepicker td, .datepicker th  {
  height: 18px;
}
.datepicker-inline {
	font-size: 14px;
	position: relative;
	left: -10px;
}


#blog-calendar {
    width: 180px;
    font-family: $baseFontRegular;
    font-size: 17px;
    &.datepicker.datepicker-inline th {
        color: #000;
        vertical-align: middle;
        &:hover {
            background: #fff;
            cursor: auto;
        }
    }
    &.datepicker.datepicker-inline td {
        padding: 4px 3px;
        width: 12px;
    }
    &.datepicker.datepicker-inline th.change-date {
        background-image: url(../images/blog/arrows.png);
        background-repeat: no-repeat;
        height: 33px;
        width: 33px;
        cursor: pointer;
        &.prev-date {
            background-position: 0 50%;
        }
        &.next-date {
            background-position: 100% 50%;
        }
    }
}
