@import '../global-vars/index.css';

form {
    position: relative;
    font-family: $baseFont;
    font-size: 14px;
}
.row-form {
    margin-bottom: 14px;
}

select,
input,
textarea {
    box-sizing: border-box;
    width: 100%;
}

.row-form {
    margin-bottom: 15px;

    &.is-narrow {
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        width: 48%;
        margin-right: 4%;
        .selectize-input {
          width: 9%;
        }
        &:nth-child(2) {
            margin-right: 0;
        }
    }
}
.wrapper-for-narrow-row {
    font-size: 0;
    * {
        font-size: $baseFontSize;
    }
}

label {
    display: inline-block;
    margin-bottom: 4px;
    font-family: $baseFont;
    font-size: 19px;
}
input, textarea {
    border: none;
    background-color: #fff;
}
.is-wide {
    width: 100%;
}

.calendar {
    padding-left: 38px !important;
    background-image: url('../images/icons/icon-calendar.png');
    background-repeat: no-repeat;
    background-position: 11px 8px;
}
.form-help-text {
    font-family: $baseFont;
    font-size: 13px;
    line-height: 17px;
}

.row-form .select {
    background-color: #fff;

    &.guests select {
      padding-left: 31px !important;
      background-image: url('../images/icons/icon-guest.png');
      background-repeat: no-repeat;
      background-position: 7px 5px;
    }
    background-image: url('../images/icons/select-arrow-down.png');
    background-repeat: no-repeat;
    background-position: right center;
    select {
        background: transparent;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        -webkit-appearance: none;
    }
}
