html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    font-family: $baseFont;
    color: $c-textblock;
    font-size: 15px;
}

* {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*:focus {
    outline: none;
    outline-offset: 0;
}

.body-container {
    position: relative;
    padding-bottom: 128px;
    min-width: 1260px;
    overflow-x: hidden;
}
section {
    width: 100%;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1260px;
}

#content-page {
    padding-top: 105px;
}

a {
    transition: all 0.5s ease;
}

p {
    margin-bottom: 18px;
}
b,
strong {
    font-weight: normal;
    font-family: $baseFontBlack;
}

.error {
    border: 2px solid rgb(255, 93, 93);
}
.errorlist {
    color: red;
}
.scrollable {
    overflow: hidden;
}
.slim-text-block {
    font-size: 15px;
    line-height: 130%;
}
.item-date {
    display: inline-block;
    padding: 5px 10px;
    background-color: $color-orange;
    color: #fff;
}


#mfPreviewBarShow,
#mfPreviewBar {
    position: absolute !important;
    left: 99999px !important;
}