@font-face {
  font-family: 'HarmoniaSansProCyr-Black';
  src: url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff');
}
@font-face {
  font-family: 'HarmoniaSansProCyr-Bold';
  src: url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff');
}
@font-face {
  font-family: 'HarmoniaSansProCyr-Regular';
  src: url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff');
}
