{% extends "admin.html" %}

{% block content %}
    <div class="span10">
        <h2>Выберите территорию</h2>
    </div>

    <div class="span2" style="text-align: right;">
        <a href="{{ url("admin:route-action", type, "add") }}" class="btn"><i class="icon-plus"></i><small>{{ trans("Добавить") }}</a></small>
    </div>


    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th>{{ trans("Заголовок") }}</th>
        </tr>
        </thead>
        <tbody>
        <tr><td><a href="{{ url("admin:route-action", type, "view") }}?territory=green">Зеленая</a></td></tr>
        <tr><td><a href="{{ url("admin:route-action", type, "view") }}?territory=yellow">Желтая</a></td></tr>
        <tr><td><a href="{{ url("admin:route-action", type, "view") }}?territory=red">Красная</a></td></tr>
        <tr><td><a href="{{ url("admin:route-action", type, "view") }}?territory=blue">Синяя</a></td></tr>
        </tbody>
    </table>
{% endblock %}
