$color-acidpink: #ff3f82;
$color-acidpink-light: rgba(255, 63, 130, 0.4);
$color-blue: #00357d;
$color-cyan: #00adef;
$color-brightgreen: #06e18d;
$color-orange: #ffb400;
$color-lightorange: #fac201;
$color-darkorange: #FAB83D;
$color-gray: #ededed;
$color-gray2: #cccccc;
$color-green: #97ea11;
$color-aqua: #2fe5f2;
$color-grassgreen: #90c737;
$color-forestgreen: #488f3d;
$color-lightblue: #00d2ff;
$color-pink: #ff3950;
$color-pink-light: #ff6c7d;
$color-darkpink: #ff0860;
$color-yellow: #ffd800;
$color-darkyellow: #ffd648;
$color-lightyellow: #ffe17b;
$color-red: #d81a00;
$color-brightred: #ff001d;


$c-textblock: #333;
