$baseFont: 'Open Sans', Arial, sans-serif;
$baseFontBlack: 'Harmonia Sans Pro Cyrillic Black', Arial, sans-serif;
$baseFontBold: 'Harmonia Sans Pro Cyrillic Bold', Arial, sans-serif;
$baseFontRegular: 'Harmonia Sans Pro Cyrillic Regular', Arial, sans-serif;

$baseFontSize: 14px;
$slider_height: 675px;
