@import 'clearfix.css';


@define-mixin header_style $color {
    &.bgrcolor-$(color) {
	    background-color: $color-$(color);
	    .yarky-logo {
	        background-image: url('../images/yarky-logo-$(color).png') !important;
	    }
	}
}