.blog {
    header {
        background-color: black;
        .yarky-logo {
            background-image: url('../images/yarky-logo-black.png');
        }
    }
}
.blog-right-sidebar {
    position: relative;
    width: 230px;
    height: 100%;
    padding-right: 20px;

}
.right-sidebar-block {
    position: relative;
    margin-bottom: 60px;

    .title {
        margin-bottom: 16px;
        color: $color-forestgreen;
        font-family: $baseFontBold;
        font-size: 27px;
    }
}
.author {
    position: relative;
    margin-bottom: 24px;
}
.author-img {
    position: relative;
    margin-bottom: 11px;
}
.article-preview-item .author-img {
    margin-bottom: 26px;
}
.author-img img {
    border-radius: 50%;
}
.blog-right-sidebar .author-img img {
    max-width: 97px;
    max-height: 97px;
}
.author-name {
    position: relative;
    margin-bottom: 8px;
    font-family: $baseFontBold;
    font-size: 22px;
}
.article-preview-item {
    .author-img {
        padding-left: 35px;
        img {
            max-width: 160px;
            max-height: 160px;
        }
    }
    .author-name {
        font-size: 29px;
        padding-left: 55px;
        width: 100px;
    }
    .author-position {
        padding-left: 55px;
    }
}
.author-position {
    font-family: $baseFont;
    font-size: 15px;
}

.articles, .article {
    position: relative;
    margin-right: 300px;
    a {
      color: $color-darkpink;
      font-family: $baseFont;
      font-size: 17px;
      &:hover {
      color: black;
      }
    }
}
.article,  
.articles {

    h3 {
        margin: -42px 0 64px 252px;
        a {
          font-family: $baseFontBold;
          color: $color-pink;
          font-size: 35px;
        }
    }
    .item-date {
          background-color: $color-pink;
    }
}
.article-preview-item, .article-item {
    position: relative;
    width: 100%;
    margin-bottom: 80px;
}
.article-author {
    position: relative;
    width: 246px;
}
.article-info {
    position: relative;
    margin-left: 254px;
}
.article-img {
    position: relative;
    max-width: 700px;
    margin-bottom: 26px;
}
.article-title {
    margin: 10px 0 20px;
    font-family: $baseFontBold;
    font-size: 49px;
    line-height: 50px;
}
.article-tags {
    position: relative;
    margin-bottom: 40px;
    a {
        color: $color-lightblue;
        font-size: 19px;
        &:hover {
            color: $color-pink;
        }
    }
}
.article-description {
    font-family: $baseFont;
    line-height: 130%;

    a {
        color: $color-lightblue;
        &:hover {
            color: $color-pink;
        }
    }
}
.article-link {
    margin-top: 20px
}
.article-share {
    position: relative;
    margin-top: 36px;

    .social-networks {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin-right: 8px;
        font-size: 0;
    }
    .social-networks li {
        display: inline-block;
        position: relative;
        margin-right: 3px;
        width: 32px;
        height: 32px;

        a {
            display: block;
            padding: 3px 0 0;
            width: 32px;
            height: 29px;
            border-radius: 50%;
            background-color: #38373b;
            text-align: center;
            opacity: 0.5;
            transition: all ease 0.5s;
            .icon {
                fill: #fff;
            }
            &:hover, &:focus, &:active {
              background-color: #cdcdcd;
              color: #38373b;
              .icon {
                  fill: #38373b;
              }
            }
        }
    }
}

.article-img-carousel {
    position: relative;
    margin: 54px 0 42px;
    width: 692px;

    .slick-prev {
        display: block;
        position: absolute;
        top: 258px;
        left: -89px;
        width: 49px;
        height: 47px;
        border: none;
        background: none;
        background-image: url('../images/home/icons/carousel-blog-arrow.png');
        background-repeat: no-repeat;
        text-indent: 10000px;
    }
    .slick-next {
        display: block;
        position: absolute;
        top: 258px;
        right: -89px;
        width: 49px;
        height: 47px;
        border: none;
        background: none;
        background-image: url('../images/home/icons/carousel-blog-arrow.png');
        transform: rotate(180deg);
        background-repeat: no-repeat;
        text-indent: 10000px;
    }
}
.article-img-item-description {
    position: relative;
    float: right;
    margin-top: 30px;
    width: 50%;
    font-family: $baseFont;
    font-size: 13px;
    line-height: 16px;
}

/* article page */
.link-to-blog {
    display: inline-block;
    position: relative;
    margin-left: 266px;
    margin-bottom: 16px;
    color: $color-forestgreen;
    font-family: $baseFontBold;
    font-size: 35px;
    a {
        color: $color-pink;
    }
}
.article-date {
    display: inline-block;
    position: relative;
    margin: 17px 0 20px;
    padding: 5px 7px 1px;
    background-color: $color-red;
    color: #fff;
    font-family: $baseFontBold;
    font-size: 12px;
}
