@import '../sources/global-vars/index.css';

#introduction {
    display: block;
    position: relative;
    width: 100%;
    min-height: $slider_height;
}

.index-title {
    display: block;
    padding: 42px 0 34px 122px;
    margin-left: 32px;
    font-family: $baseFontBold;
    font-size: 57px;

    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            opacity: 0.9;
        }
    }

}

#blog-preview {
    position: relative;
    min-height: 780px;
}
.carousel-blog {
    width: 1050px;
    margin: 0 auto;

    button[class^="slick-"] {
        display: block;
        position: absolute;
        top: 120px;
        width: 49px;
        height: 47px;
        border: none;
        background: none;
        background-image: url('../images/home/icons/carousel-blog-arrow.png');
        background-repeat: no-repeat;
        text-indent: -9999px;
    }
    .slick-prev {
        left: -89px;
    }
    .slick-next {
        right: -29px;
        transform: rotate(180deg);
    }
}
.carousel-blog-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 46px;
    margin-left: 14px;
    width: 290px;

    .item-preview {
        display: block;
        position: relative;
        margin-bottom: 27px;
        width: 290px;
        height: 290px;
        border-radius: 50%;
        overflow: hidden;
    }
    .item-date,
    .item-title,
    .item-description {
        margin-left: 32px;
    }
    .item-title {
        display: block;
        margin: 10px 0 14px 32px;
        font-family: $baseFontBold;
        font-size: 29px;
        line-height: 30px;
        text-decoration: none;
        color: #000;
    }
    .item-description {
        display: block;
        text-decoration: none;
        color: $c-textblock;
    }
}

#territory {
    padding-bottom: 70px;
    background-color: #ededed;

    .index-title {
        padding-top: 68px;
    }

    .territory-img {
        width: 100%;
        height: 613px;
        background-image: url('../images/home/shema.png');
        background-repeat: no-repeat;
        background-position: 31px 7px;
        position: relative;
    }
    .territory-map {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 613px;
        background-position: 31px 7px;
        background-repeat: no-repeat;
        img {
            width: 1114px;
            height: 613px;
            margin-left: 31px;
        }
        &.hover, &.active {
          &.blue {
            background-image: url('../images/home/shema_blue.png');
          }
          &.red {
            background-image: url('../images/home/shema_red.png');
          }
          &.green {
            background-image: url('../images/home/shema_green.png');
          }
          &.yellow {
            background-image: url('../images/home/shema_yellow.png');
          }
        }
    }

    .territory-info {
        display: block;
        position: relative;
        padding: 365px 0 0 850px;
        width: 270px;
        font-family: $baseFont;
        .territory-title {

            a {
                color: black;
            }
            font-family: $baseFontBold;
            font-size: 29px;
            line-height: 30px;
        }
        .territory-description {
            margin-top: 15px;
            line-height: 130%;
            font-size: 15px;
        }
    }
}

.places {
    position: relative;
    margin-top: -114px;
    width: 373px;
    z-index: 101;
    max-height: 780px;
    &.red {
        background-color: $color-pink;
    }
    &.yellow {
        background-color: $color-yellow;
    }
    &.blue {
        background-color: $color-lightblue;
    }
    &.green {
        background-color: $color-grassgreen;
    }


    strong {
        font-family: $baseFontBold;
        font-size: 17px;
        line-height: 21px;
    }
    p {
        font-size: 13px;
        line-height: 17px;
    }
    .places-close {
        background-image: url(../images/icons/close.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 23px;
        height: 22px;
        cursor: pointer;
        margin: 19px 19px 0 0;
    }

}
.places-content {
    position: relative;
    margin: 50px 32px 50px 50px;
    color: black;

    a {
        color: black;
    }

    &.scrollable {
        max-height: 670px;
    }
}
.places-list {
    position: relative;

    h3 {
        display: inline-block;
        margin-top: 10px;
        font-family: $baseFontBold;
        font-size: 17px;
        line-height: 20px;
        color: #fff;


        a {
            text-decoration: none;
            color: #fff;

            &:after {
                display: inline-block;
                position: relative;
                content: '';
                margin: 0 8px;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 7px solid #fff;
                transition: all ease 0.5s;
            }
        }

        +p {
            max-height: 0;
            margin-bottom: 0;
            transition: max-height linear;
            transition-duration: 1s;
            transition-delay: 0s;
            overflow: hidden;
        }

        &.active {
            a:after {
                border-top: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #fff;
            }
            +p {
                max-height: 400px;
            }
        }
    }

    /*&:first-child h3 {
        margin: 0;
    }*/

}

#yarkyfest {
    padding-bottom: 74px;
    background-color: $color-lightblue;
}
.yarkyfest {
    margin-right: 180px;
    width: 410px;
    color: #fff;
}
.yarkyfest-title {
    margin-top: 140px;
    margin-bottom: 20px;
    font-family: $baseFontBold;
    font-size: 59px;
    line-height: 55px;
    color: #fff;
}
.yarkyfest-date {
    margin-bottom: 96px;
    font-family: $baseFont;
    font-size: 38px;
    line-height: 39px;
}
.yarkyfest-events {
    margin-left: -50px;

    li {
        display: inline-block;
        position: relative;
        vertical-align: top;
        margin-bottom: 34px;
        margin-left: 50px;
        width: 170px;
        color: #000;
        font-family: $baseFont;
        font-size: 15px;
        line-height: 130%;

        &:before {
            display: block;
            position: relative;
            content: '';
            margin-bottom: 9px;
            width: 94px;
            height: 9px;
        }
    }
    li:nth-child(1):before {
        background-color: $color-orange;
    }
    li:nth-child(2):before {
        background-color: $color-green;
    }
    li:nth-child(3):before {
        background-color: #fff;
    }
    li:nth-child(4):before {
        background-color: $color-blue;
    }
}
.yarkyfest-logo {
    display: block;
    position: relative;
    margin: 54px 0 0 5px;
    width: 456px;
    height: 584px;
    background-image: url('../images/home/yarkyfest-logo.png');
    background-repeat: no-repeat;
}

#yarkyfest-map {
    display: block;
    position: relative;
    height: 864px;
}

#address {
    background-color: $color-darkpink;
    text-align: center;

    .address {
        width: 320px;
        min-height: 80px;
        font-family: $baseFont;
        background-image: url('../images/icons/map/white-point.png');
        background-position: 20px;
        background-repeat: no-repeat;
        color: #fff;
        padding: 30px 0 0 100px;
        font-size: 19px;
        line-height: 130%;
        margin: auto;
        text-align: left;
    }
}


.way {
    width: 373px;
    min-height: 65px;
    background-color: $color-yellow;
    z-index: 5;
    overflow: hidden;
}

.way-content {
    position: relative;
    margin: 22px 40px 30px 65px;
    font-family: $baseFont;
    font-size: 13px;
    line-height: 16px;

    h3 {
        display: inline-block;
        position: relative;
        font-family: $baseFontBold;
        font-size: 29px;
        line-height: 30px;
        transition: all ease 0.5s;

        a {
            text-decoration: none;
            color: #000;

            &:after{
                display: inline-block;
                position: relative;
                content: '';
                vertical-align: middle;
                margin: 0 0 0 30px;
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-top: 12px solid #000;
                transition: all ease 0.5s;
            }
        }
        &.active {
            a:after {
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-top: 0;
                border-bottom: 12px solid #000;
            }
        }

        +.way-info {
            height: 0;
            margin-top: -200px;
            visibility: hidden;
        }

        &.active {
            a:after {

            }

            +.way-info {
                height: auto;
                margin-top: 0;
                visibility: visible;
            }
        }
    }

    h4 {
        margin: 33px 0 5px;
        font-family: $baseFontBold;
        font-size: 17px;
        line-height: 20px;
    }
    a {
        color: #000;
    }
    p {
        line-height: 17px;
    }
    img {
        margin-bottom: 8px;
    }
}
