<!DOCTYPE html>
<html>
<head>

    <title>{% block full_seo_title %}{% block seo_title %}{% endblock %} {{ seo_var(current_lang(), "title_separator") }} {{ seo_var(current_lang(), "page_title") }}{% endblock %}</title>
    <meta name="description" content="{% block seo_description %}{{ seo_var(current_lang(), "page_description") }}{% endblock %}"/>
    <meta name="keywords" content="{% block seo_keywords %}{{ seo_var(current_lang(), "page_keywords") }}{% endblock %}"/>

    <meta content='{{ request.build_absolute_uri(request.path) }}' property='og:url'>
    <meta content='{% block full_og_title %}{% block og_title %}{% endblock %} {{ seo_var(current_lang(), "title_separator") }} {{ seo_var(current_lang(), "page_title") }}{% endblock %}' property='og:title'>
    <meta content='{% block og_description %}{{ seo_var(current_lang(), "page_description") }}{% endblock %}' property='og:description'>

    {% include "include/head.html" %}
    {% block extra_head %}{% endblock %}
</head>
<body {% block body_style %}{% endblock %}>
    <div class="body-container">
        {% include "include/header.html" %}

        {% block content_page %}
            <div id="content-page">
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </div>
        {% endblock %}

        {% include "include/footer.html" %}
    </div>
    {% include "include/analytics.html" %}
</body>
</html>
