{% extends "base.html" %}

{% block full_seo_title %}{{ seo_var(lang, "index_title") }}{% endblock %}

{% block extra_head %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU&load=package.standard" type="text/javascript"></script>
{% endblock %}
{% block body_style %}class="index"{% endblock %}
{% block content_page %}
    <section id="introduction">
        <div class="introduction-screen introduction-screen-1">
            {{ slider("index", "main-carousel")|safe }}

            <div class="container reservation-wrapper">
                <div class="reservation">
                    <form class="form-reservation">
                        <div class="row-form">
                            <label>Дата заезда</label>
                            <input class="calendar bordered date_in" name="date_in" />
                        </div>
                        <div class="row-form">
                            <label>Дата выезда</label>
                            <input class="calendar bordered date_out"  name="date_out" />
                        </div>
                        <div class="row-form row-button">
                            <a class="reservation-button button-success" href="#">Бронировать</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="introduction-screen introduction-screen-2 hidden">
            <div class="container">
                <div class="reservation-step">
                    <div class="reservation">
                        <h3 class="title">Бронирование</h3>
                        <form class="form-reservation">
                            <div class="row-form">
                                <label>Дата заезда</label>
                                <input class="calendar date_in" name="date_in"/>
                            </div>

                            <div class="row-form">
                                <label>Дата выезда</label>
                                <input class="calendar date_out"  name="date_out"/>
                            </div>

                            <div class="wrapper-for-narrow-row">
                                <div class="row-form is-narrow">
                                    <label>Количество<br />гостей</label>
                                    <div class="select guests">
                                        <select name="guests" class="guests">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row-form is-narrow">
                                    <label>Завтраки</label>
                                    <div class="select">
                                        <select name="breakfast" class="breakfast">
                                            <option value="0">Не включены</option>
                                            <option value="1">Включены</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row-form">
                                <label>Тип номера</label>
                                <div class="select">
                                    {{ rooms_select()|safe }}
                                </div>
                            </div>

                            <div class="row-form form-help-text">
                                Стоимость завтрака «шведский стол» составляет 180 р.  При выборе  добавляется к стоимости проживания на все даты на всех гостей. Если вы хотите заказать завтрак не на всю вашу компанию или не на все дни, пожалуйста, укажите это в поле «особые
                                пожелания» на следующей странице.
                            </div>

                            <div class="result-info-row result-sum">
                                <nobr>{{ trans("Общая стоимость") }}</nobr>
                                <span class="cost"></span> {{ trans("Р.") }}
                            </div>

                            <div class="row-form row-button">
                                <a class="reservation-button button-success" href="#">Продолжить</a>
                            </div>
                        </form>
                    </div>

                    <div class="reservation-step-right-side">
                        <div class="reservation-step-1 select-room">
                            <h3 class="title">Выберите номер*</h3>
                            {{ rooms_widget()|safe }}
                            <p class="reservation-single-number">* В рамках одного бронирования можно зарезервировать номера одной категории.</p>
                        </div>
                        <div class="reservation-step-2 hidden">
                            <div class="personal-data pull-left">
                                <h3 class="title">{{ trans("Личные данные") }}</h3>
                                <form class="form-personal-data">
                                    <div class="form-row">
                                        <input type="text" class="fpd-fname" name="first_name" placeholder="{{ trans("Ваше имя") }}*" />
                                    </div>
                                    <div class="form-row">
                                        <input type="text" class="fpd-lname" name="last_name" placeholder="{{ trans("Фамилия") }}*" />
                                    </div>
                                    <div class="form-row">
                                        <input type="text" class="fpd-email" name="email" placeholder="{{ trans("Email") }}*" />
                                    </div>
                                    <div class="form-row">
                                        <input type="text" class="fpd-phone" name="phone" placeholder="{{ trans("Телефон") }}*" />
                                    </div>
                                    <div class="form-row comment">
                                        <label>{{ trans("Особые пожелания") }}</label>
                                        <textarea name="comment"></textarea>
                                    </div>
                                    <div class="form-row button-send">
                                        <a href="#" class="button-success submit-reservation">{{ trans("Отправить заявку") }}</a>
                                    </div>
                                </form>
                            </div>

                            <div class="selected-room">
                                <div class="pull-left room-item">
                                    <h3 class="title">{{ trans("Ваш номер") }}</h3>
                                    <div class="room"></div>
                                </div>
                                <div class="pull-right more-info">
                                    <h3 class="title">{{ trans("Дополнительная информация") }}</h3>
                                    <div class="info">
                                        {{ page_inline("reservation-info")|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="introduction-screen introduction-screen-3 bg-reservation-result hidden">
            <div class="container">
                <div class="reservation-result">

                </div>
            </div>

        </div>
    </section>

    <section id="blog-preview">
        <div class="container">
            <h2 class="index-title"><a href="{{ local_url("blog:list") }}">{{ trans("Наш блог") }}</a></h2>
            {{ blog_carousel(10)|safe }}
        </div>
        <div class="clearfix"></div>
    </section>

    <section id="territory">
        <div class="container">
            <h2 class="index-title">Территория</h2>
            <div class="territory-img">
                <div class="territory-map">
                    <img src="{{ static("images/blank.gif") }}" usemap="#territory-map">
                    <map name="territory-map" id="territory-map">
                        <area href="#" shape="poly" coords="170,173,170,149,164,138,279,82,285,95,305,87,328,128,324,135,326,161,310,169,310,188,222,229,227,257,219,263" style="outline:none;" target="_self" class="territory-area" data-color="blue"/>
                        <area href="#" shape="poly" coords="347,532,451,482,453,465,466,458,466,427,470,425,449,379,428,389,420,377,316,426,310,417,302,420,300,439" style="outline:none;" target="_self" class="territory-area" data-color="yellow"/>
                        <area href="#" shape="poly" coords="502,156,502,132,497,122,506,117,498,99,575,63,578,80,591,75,651,198,649,201,649,223,650,231,646,231,646,252,577,285,569,270,561,272,559,275" style="outline:none;" target="_self" class="territory-area"  data-color="red"/>
                        <area href="#" shape="poly" coords="596,63,698,271,715,286,876,164,1074,62,909,60,909,52,898,46,880,45,871,53,867,60,854,61,852,50,848,44,833,37,823,37,814,47,808,59,640,61,639,55,628,47,615,50,604,55,604,61,593,62" style="outline:none;" target="_self" class="territory-area"  data-color="green"/>
                    </map>

                </div>
                {% with page = page_inline_obj("territory") %}{% if page %}
                    <div class="territory-info">
                        <div class="territory-title">{{ page.title }}</div>
                        <div class="territory-description">{{ page.content|safe }}</div>
                    </div>
                {% endif %}{% endwith %}

                {{ territory_info()|safe }}
            </div>
        </div>

    </section>

    <section id="yarkyfest" class="hidden">
        <div class="container">
            <div class="pull-right yarkyfest">
                <h2 class="yarkyfest-title">
                    Yarkyfest — это знаковое мероприятие лета в yarky
                </h2>
                <div class="yarkyfest-date">
                    1–14 июня 2015 года
                </div>
                <ul class="yarkyfest-events">
                    <li>Международный архитектурный кокурс на строительство минимальных жилых модулей</li>
                    <li>Театрально-архитектурный воркшоп по созданию оригинальных ценических декораций</li>
                    <li>Гостевые лекции и семинары</li>
                    <li>Tеатральное представление</li>
                </ul>
            </div>
            <div class="pull-left yarkyfest-logo">

            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    {# <section id="yarkyfest-map"></section> #}
    {# <section id="address"> #}
        {# <div class="container"> #}
            {# <div class="address">Санкт-Петербург,<br/> Проспект Энгельса, дом 3, лит. Б.</div> #}
        {# </div> #}
        {# <div class="clearfix"></div> #}
    {# </section> #}

    {# <div id="how-to-get" class="hidden"> #}
        {# {{ page_inline("how-to-get")|safe }} #}
    {# </div> #}
{% endblock %}
