{% extends "base.html" %}

{% block full_seo_title %}{{ seo_var(lang, "index_title") }}{% endblock %}

{% block extra_head %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU&load=package.standard" type="text/javascript"></script>
{% endblock %}
{% block body_style %}class="index"{% endblock %}
{% block content_page %}
    <section id="introduction">
        <div class="introduction-screen introduction-screen-1">
            {{ slider("index", "main-carousel")|safe }}
        </div>
    </section>

    <section id="blog-preview">
        <div class="container">
            <h2 class="index-title"><a href="{{ local_url("blog:list") }}">{{ trans("Наш блог") }}</a></h2>
            {{ blog_carousel(10)|safe }}
        </div>
        <div class="clearfix"></div>
    </section>
{% endblock %}
