{% extends "base.html" %}

{% block og_title %}{{ entry.title|clear_linebreaks }}{% endblock %}
{% block seo_title %}{{ entry.title|clear_linebreaks }}{% endblock %}

{% block og_description %}{{ entry.announce|clear_linebreaks }}{% endblock %}
{% block seo_description %}{{ entry.announce|clear_linebreaks }}{% endblock %}

{% block extra_head %}
    <meta content='article' property='og:type'>
    {% if entry.base.cover %}<meta content='{{ request.build_absolute_uri(thumbnail(entry.base.cover, "700", crop="center").url) }}' property='og:image'>{% endif %}

    <script>
        $(document).ready(function() {
            $('.social-icon').ShareLink({
                title: '{{ entry.title|clear_linebreaks }}',
                text: '{{ entry.announce|clear_linebreaks }}',
                image: '{{ request.build_absolute_uri(thumbnail(entry.base.cover, "700", crop="center").url) }}',
                url: '{{ request.build_absolute_uri(request.path) }}',
                class_prefix: 's-',
                width: 640,
                height: 480
            });
        })
    </script>

{% endblock %}
{% block body_style %}class="blog"{% endblock %}
{% block content %}
    <div class="blog-right-sidebar pull-right">
        <div class="right-sidebar-block">
            <h3 class="title is-middle">Наши авторы</h3>
            <div class="author-list">
                {{ blog_authors_list()|safe }}
            </div>
        </div>

        <div class="right-sidebar-block">
            <h3 class="title is-middle">Календарь</h3>
            <div class="blog-calendar">
                {{ blog_calendar(entry.base.published_date)|safe }}
            </div>
        </div>

        <div class="right-sidebar-block">
            <h3 class="title is-middle">Теги</h3>
            <div class="article-tags">
                {{ blog_tags_cloud()|safe }}
            </div>
        </div>
    </div>


    <div class="article">
        <h3 class="super-header"><a href="{{ local_url("blog:list") }}">Наш блог</a></h3>
        <div class="article-preview-item">
            <div class="article-author pull-left">
                {% with author = entry.base.author.get_local() %}
                    {% include "blog/include/author.html" with context %}
                {% endwith %}
            </div>
            <div class="article-info">
                <div class="item-date">{{ entry.base.published_date.day }} {{ localize_month(entry.base.published_date, True) }} {{ entry.base.published_date.year }}</div>
                <div class="article-title">
                    {{ entry.title|linebreaksbr|safe }}
                </div>
                <div class="article-tags">
                    {% for tag in entry.get_tags() %}
                        <a href="{{ local_url("blog:list") }}?tag={{ tag }}">#{{ tag }}</a>
                    {% endfor %}
                </div>
                {% if entry.base.cover %}
                    <div class="article-img">
                        <img src="{{ thumbnail(entry.base.cover, "700", crop="center").url }}" alt="" title="" />
                    </div>
                {% endif %}
                <div class="article-description">
                    {{ entry.text|insert_gallery|safe }}
                </div>
                <div class="article-share">
                    {% include "include/social_share.html" with context %}
                    Опубликовать
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>

    <div class="clearfix"></div>

{% endblock %}
