{% extends "base.html" %}

{% block og_title %}{{ trans("Блог") }}{% endblock %}
{% block seo_title %}{{ trans("Блог") }}{% endblock %}
{% block body_style %}class="blog"{% endblock %}
{% block content %}

    <div class="blog-right-sidebar pull-right">
        <div class="right-sidebar-block">
            <h3 class="title is-middle">Наши авторы</h3>
            <div class="author-list">
                {{ blog_authors_list()|safe }}
            </div>
        </div>

        <div class="right-sidebar-block">
            <h3 class="title is-middle">Календарь</h3>
{#            <div id="blog-calendar" data-date="{{ today() }}"></div>#}
            <div class="blog-calendar">
                {{ blog_calendar(request.GET.date)|safe }}
            </div>
        </div>

        <div class="right-sidebar-block">
            <h3 class="title is-middle">Теги</h3>
            <div class="article-tags">
                {{ blog_tags_cloud()|safe }}
            </div>
        </div>
    </div>

    <div class="articles">
        {% for entry in object_list %}
            <div class="article-preview-item">
                <div class="article-author pull-left">
                    {% with author = entry.base.author.get_local() %}
                        {% include "blog/include/author.html" with context %}
                    {% endwith %}
                </div>
                <div class="article-info">
                    {% if entry.base.cover %}
                        <div class="article-img">
                            <img src="{{ thumbnail(entry.base.cover, "700", crop="center").url }}" alt="" title="" />
                        </div>
                    {% endif %}
                    <div class="article-tags">
                        {% for tag in entry.get_tags() %}
                            <a href="{{ local_url("blog:list") }}?tag={{ tag }}">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <div class="item-date">{{ entry.base.published_date.day }} {{ localize_month(entry.base.published_date, True) }} {{ entry.base.published_date.year }}</div>
                    <div class="article-title">
                        {{ entry.title|linebreaksbr|safe }}
                    </div>
                    <div class="article-description">
                        {{ entry.announce|linebreaksbr|safe }}
                    </div>
                    <div class="article-link">
                        <a href="{{ local_url("blog:entry", slug=entry.base.slug) }}">{{ trans("Читать далее") }}</a>
                    </div>
{#                    <div class="article-share">#}
{#                        {% with url = request.build_absolute_uri(entry.get_absolute_url()) %}#}
{#                            {% include "include/social_share.html" with context %}#}
{#                        {% endwith %}#}
{#                        Опубликовать#}
{#                    </div>#}
                </div>
                <div class="clearfix"></div>
            </div>

        {% endfor %}
    </div>

    <div class="clearfix"></div>

{% endblock %}
