<div class="article-img-carousel">
     {% if photos %}
        {% for photo in photos %}
            <div class="article-img-item">
                <img src="{{ thumbnail(photo.base.image, "692", crop="center").url }}" alt="{{ photo.title }}">
                {% if photo.title %}
                    <div class="article-img-item-description">{{ photo.title }}</div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>
