{% extends "admin.html" %}

{% block extra_head %}{% endblock %}

{% block content %}
    <div class="span10">
        <h2>{{ model._meta.verbose_name_plural }}</h2>
    </div>
    <div class="span2" style="text-align: right;">
        <a href="{{ url("admin:route-action", type, "add") }}" class="btn"><i class="icon-plus"></i><small>{{ trans("Добавить") }}</a></small>
    </div>

    {% for gallery in objects %}

        <div class="gallery-block clearfix" data-id="{{ gallery.id }}">
            <div class="gallery-images span9 sortable-gallery" id="gallery-images-{{ gallery.id }}" data-sort-url="{{ url("admin:route-action", "galleryimage", "sort") }}">
                {%- for image in gallery.images.all() -%}
                    <a href="{{ url("admin:route-action-object", 'galleryimage', 'edit', image.pk) }}">
                        <img src="{{ thumbnail(image.image, "150x150", crop="center").url }}" data-id="{{ image.pk }}"/>
                    </a>
                {%- endfor -%}</div>
            <div class="gallery span3">
                <form action="{{ url("admin:route-action-object", 'gallery', 'edit', gallery.pk) }}" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="hidden" name="csrftoken" />
                    <input type="hidden" name="id" />
                    <div class="title">
                        <label>Название</label>
                        <input type="text" name="title" value="{{ gallery.title }}"/>
                    </div>
                    <div class="key">
                        <label>Ключ</label>
                        <input type="text" name="key" value="{{ gallery.key }}"/>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-success" value="Сохранить"/>
                    </div>
                    <div class="dropzoned" id="dropzone-{{ gallery.id }}">
                        <div class="dz-message">Выберите или перетащите фотографии для загрузки в эту галлерею</div>
                    </div>
                </form>
                <script>
                    var dz{{ gallery.id }} = new Dropzone("#dropzone-{{ gallery.id }}", {
                        url: "{{ url("admin:route-action-object", 'gallery', 'upload', gallery.pk) }}",
                        paramName: "image",
                        uploadMultiple: true,
                        parallelUploads: 10,
                        headers: {
                            "X-CSRFToken": getCookie('csrftoken')
                        },
                        acceptedFiles: "image/*"
                    });
                    dz{{ gallery.id }}.on("success", function(file, response) {
                        dz{{ gallery.id }}.removeFile(file);
                        var data = response.images[file.name];
                        var block = $("#gallery-images-{{ gallery.id }}");
                        var image = $("<img>").attr("src", data.url);
                        var link = $("<a>").attr("href", data.edit);
                        link.append(image);
                        block.append(link);
                        setTimeout(function() {
                            block.animate({
                                'scrollTop': 99999
                            }, 300);
                        }, 0);
                    });
                </script>
            </div>
        </div><hr/>

    {% endfor %}

{% endblock %}
